In [2]:
import numpy as np 
import pandas as pd

# Fetch data

In [1]:
initial_data_url = "https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"
final_data_url = "https://data.mendeley.com/datasets/kg72dst75p/1"

In [29]:
data_1a = pd.read_csv("data/Coronavirus_Data_Cases_1a. Per day.csv", sep=";", encoding="latin-1")
data_1b = pd.read_csv("data/Coronavirus_Data_Cases_1b. Per date.csv", sep=";", encoding="latin-1")
data_2a = pd.read_csv("data/Coronavirus_Data_Cases_2a. Per day_population.csv", sep=";", encoding="latin-1")
data_2b = pd.read_csv("data/Coronavirus_Data_Cases_2b. Per date_population.csv", sep=";", encoding="latin-1")
data_5a = pd.read_csv("data/Coronavirus_Data_Cases_5a. Per date_popul_surf.csv", sep=";", encoding="latin-1")
data_5b = pd.read_csv("data/Coronavirus_Data_Cases_5a. Per day_popul_surf.csv", sep=";", encoding="latin-1")

In [26]:
data_1a.head()

,Country/Region,US,"Korea, South",China,Taiwan*,Thailand,Japan,Vietnam,Singapore,France,...,Anguilla-United Kingdom,British Virgin Islands-United Kingdom,Turks and Caicos Islands-United Kingdom,MS Zaandam,Botswana,Burundi,Sierra Leone,"Bonaire, Sint Eustatius and Saba-Netherlands",Malawi,Falkland Islands (Islas Malvinas)-United Kingdom
0,1,1,1,548,1,2,2,2.0,1.0,2.0,...,2.0,2.0,4.0,2.0,3.0,2.0,1.0,2.0,3.0,1.0
1,2,1,1,643,1,3,2,2.0,3.0,3.0,...,2.0,2.0,4.0,2.0,4.0,2.0,2.0,2.0,3.0,NaN
2,3,2,2,920,3,5,2,2.0,3.0,3.0,...,2.0,2.0,5.0,2.0,4.0,3.0,2.0,2.0,4.0,NaN
3,4,2,2,1406,3,7,2,2.0,4.0,3.0,...,2.0,3.0,5.0,2.0,4.0,3.0,2.0,NaN,NaN,NaN
4,5,5,3,2075,4,8,4,2.0,5.0,4.0,...,2.0,3.0,6.0,9.0,4.0,3.0,4.0,NaN,NaN,NaN

In [25]:
data_2b.head()

,Unnamed: 0,San Marino,Andorra,Luxembourg,Iceland,Faroe Islands-Denmark,Gibraltar-United Kingdom,Spain,Switzerland,Italy,...,Bangladesh,Tanzania,Ethiopia,Mozambique,Nepal,Angola,Burundi,Sudan,Malawi,Papua New Guinea
0,Population,33931.0,77265.0,625978.0,341243.0,48863.0,33691.0,46754778.0,8654622.0,60461826.0,...,164689383.0,59734218.0,114963588.0,31255435.0,2.913681e+07,32866272.0,11890784.0,43849260.0,19129952.0,8947024.0
1,22/01/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0
2,23/01/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0
3,24/01/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0
4,25/01/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.432085e-02,0.0,0.0,0.0,0.0,0.0

# Clean data

# Merge data